<!--gallery-->
<section class="gallery-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="gallery">
                    <img src="static/images/gallery/img-1111.jpg" alt="" class="img-responsive">
                    <div class="gallery-overlay">
                        <a href="static/images/gallery/img-1111.jpg" data-lightbox="gallery">
                            <i class="icon-expand"></i>
                        </a>
                    </div>
                </div>
            </div><!--col end-->
            <div class="col-sm-4">
                <div class="gallery">
                    <img src="static/images/gallery/img-1111.jpg" alt="" class="img-responsive">
                    <div class="gallery-overlay">
                        <a href="static/images/gallery/img-1111.jpg" data-lightbox="gallery">
                            <i class="icon-expand"></i>
                        </a>
                    </div>
                </div>
            </div><!--col end-->
            <div class="col-sm-4">
                <div class="gallery">
                    <img src="static/images/gallery/img-1111.jpg" alt="" class="img-responsive">
                    <div class="gallery-overlay">
                        <a href="static/images/gallery/img-1111.jpg" data-lightbox="gallery">
                            <i class="icon-expand"></i>
                        </a>
                    </div>
                </div>
            </div><!--col end-->
        </div>
        <br><br>


        <div class="row">
            <div class="col-sm-4">
                <div class="gallery">
                    <img src="static/images/gallery/img-1111.jpg" alt="" class="img-responsive">
                    <div class="gallery-overlay">
                        <a href="static/images/gallery/img-1111.jpg" data-lightbox="gallery">
                            <i class="icon-expand"></i>
                        </a>
                    </div>
                </div>
            </div><!--col end-->
            <div class="col-sm-4">
                <div class="gallery">
                    <img src="static/images/gallery/img-1111.jpg" alt="" class="img-responsive">
                    <div class="gallery-overlay">
                        <a href="static/images/gallery/img-1111.jpg" data-lightbox="gallery">
                            <i class="icon-expand"></i>
                        </a>
                    </div>
                </div>
            </div><!--col end-->
            <div class="col-sm-4">
                <div class="gallery">
                    <img src="static/images/gallery/img-1111.jpg" alt="" class="img-responsive">
                    <div class="gallery-overlay">
                        <a href="static/images/gallery/img-1111.jpg" data-lightbox="gallery" class="icon-expand">

                        </a>
                    </div>
                </div>
            </div><!--col end-->
        </div>
        <br><br>

        <div class="row">
            <div class="col-sm-4">
                <div class="gallery">
                    <img src="static/images/gallery/img-1111.jpg" alt="" class="img-responsive">
                    <div class="gallery-overlay">
                        <a href="static/images/gallery/img-1111.jpg" data-lightbox="gallery">
                            <i class="icon-expand"></i>
                        </a>
                    </div>
                </div>
            </div><!--col end-->
            <div class="col-sm-4">
                <div class="gallery">
                    <img src="static/images/gallery/img-1111.jpg" alt="" class="img-responsive">
                    <div class="gallery-overlay">
                        <a href="static/images/gallery/img-1111.jpg" data-lightbox="gallery">
                            <i class="icon-expand"></i>
                        </a>
                    </div>
                </div>
            </div><!--col end-->
            <div class="col-sm-4">
                <div class="gallery">
                    <img src="static/images/gallery/img-1111.jpg" alt="" class="img-responsive">
                    <div class="gallery-overlay">
                        <a href="static/images/gallery/img-1111.jpg" data-lightbox="gallery" class="icon-expand">

                        </a>
                    </div>
                </div>
            </div><!--col end-->
        </div>


    </div>
</section>
<!--end gallery-->