<section id="home" class="home-contact">
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
              <div class="row">
            <div class="col-sm-7">
                <div class="contact-home-text">
                    <h4>To będzie</h4>
                    <h1>Przełom na rynku rekrutacji.</h1>
                    <p>Nie przepytuj kandydatów - oceń ich!</p>
                    <br>
{% comment %}
                    <div class="scroll-to banner-buttons">
                        <a  data-toggle="modal" data-target="#video-popup" class="btn btn-lg btn-radius btn-white">Zobacz jak działamy<i class="fa fa-youtube-play"></i></a>
                    </div>
{% endcomment %}
                </div>
            </div>
            <div class="col-sm-5">
                <div class="contact-home-form">
                    <h3>Skontaktuj się z nami!</h3>
                    <form method="post" class="assan-contact">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12 margin-b-20">
                                    <input type="text" name="name" class="form-control" placeholder="Imię i nazwisko..." />
                                </div>
                                <div class="col-sm-12 margin-b-20">
                                    <input type="text" name="email" class="form-control" placeholder="Nazwa firmy..." />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <textarea name="message" class="form-control margin-b-20" rows="5" placeholder="Twoja wiadomość..."></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="data-status animated fadeInDown"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <button type="submit" name="submit" class="btn btn-lg btn-skin btn-radius margin-b-20">Wyślij wiadomość</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>

            <!--modal of video-->
            <!-- Modal -->
            <div class="modal video-modal fade" id="video-popup" tabindex="-1" role="dialog" aria-labelledby="video-popup">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="fa fa-times"></span></button>
                        </div>
                        <div class="modal-body">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe id="vimeo-video" src="http://player.vimeo.com/video/57175742"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end the modal of video-->


<!--            <div class="col-sm-5">
                <br><br><br>
                <div class="col-sm-8">
                   <iframe width="600" height="338" src="http://www.youtube.com/embed/AWcCtAg8fsQ" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>    -->


<!--            <div class="col-sm-5">
                <div class="contact-home-form">
                    <h3>Znajdź najlepsze oferty!</h3>
                     <form method="post" action="#" class="assan-contact">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12 margin-b-20">
                                    <input type="text" name="name" class="form-control" placeholder="Miasto docelowe..." />
                                </div>
                                <div class="col-sm-12 margin-b-20">
                                    <input type="text" name="email" class="form-control" placeholder="Liczba podróżnych...." />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <textarea name="message" class="form-control margin-b-20" rows="5" placeholder="Data pobytu...."></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="data-status animated fadeInDown"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <button type="submit" name="submit" class="btn btn-lg btn-skin btn-radius margin-b-20">Pokaż oferty</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>       -->
        </div>
        </div>
    </div>
</section>