<section id="home" class="home-contact">
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
              <div class="row">
            <div class="col-sm-7">
                <div class="contact-home-text">
                    <h4>To będzie</h4>
                    <h1>Twoja najlepsza podróż.</h1>
                    <p>O samochodach wiemy wszystko.</p>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="contact-home-form">
                    <h3>Znajdź najlepsze oferty!</h3>
                     <form method="post" action="#" class="assan-contact">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12 margin-b-20">
                                    <input type="text" name="name" class="form-control" placeholder="Miasto docelowe..." />
                                </div>
                                <div class="col-sm-12 margin-b-20">
                                    <input type="text" name="email" class="form-control" placeholder="Liczba podróżnych...." />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <textarea name="message" class="form-control margin-b-20" rows="5" placeholder="Data pobytu...."></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="data-status animated fadeInDown"></div> <!-- data submit status -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <button type="submit" name="submit" class="btn btn-lg btn-skin btn-radius margin-b-20">Pokaż oferty</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>