<div role="tabpanel" class="tab-pane active" id="repetitions">
    <div class="row">
        <div class="am-content">
            <div class="main-content">
                <!--Select & Option Elements-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-body">
                            <div class="container">
                                <div class="row">

                                    <h3>Kluczowe informacje</h3><br><br>
                                    <h6>Wykształcenie i doświadczenie - najważniejsze dane</h6><br>
                                        <div class="container">
                                            <table class="table" style="width: 70%">
                                            <tbody>
                                              <tr>
                                                <td style="width: 31%">Imię i nazwisko</td>
                                                <td>Roman Lisiecki</td>
                                              </tr>
                                              <tr>
                                                <td>Miasto zamieszkania</td>
                                                <td>Warszwa, Wola</td>
                                              </tr>
                                              <tr>
                                                <td>Doświadczenie (lata)</td>
                                                <td>5 lat doświadczenia</td>
                                              </tr>
                                              <tr>
                                                <td>Branża</td>
                                                <td>Finanse i rachunkowość / Procesy M&A</td>
                                              </tr>
                                              <tr>
                                                <td>Wykształcenie</td>
                                                <td>Ekonomia / prawo</td>
                                              </tr>
                                              <tr>
                                                <td>Wcześniejszy pracodawca 1</td>
                                                <td>Deloitte Advisory Sp. z o.o., 2012-2017</td>
                                              </tr>
                                              <tr>
                                                <td>Wcześniejszy pracodawca 1</td>
                                                <td>Dom Maklerski Navigator S.A., 2011-2012</td>
                                              </tr>
                                              <tr>
                                                <td>Wykształcenie 1</td>
                                                <td>Szkoła Główna Handlowa, kierunek Finanse i rachunkowość, studia magisterskie</td>
                                              </tr>
                                              <tr>
                                                <td>Wykształcenie 2</td>
                                                <td>Uniwersytet Warszawski, kierunek Prawo, studia magisterskie</td>
                                              </tr>
                                              <tr>
                                                <td>Wykształcenie 3</td>
                                                <td>Universitaet zu Koeln, kierunek Business Administration, studia magisterskie</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>

                                    <br><br><h6>Umiejętności - najważniejsze dane</h6><br>
                                        <div class="container">
                                            <table class="table" style="width: 70%">
                                            <tbody>
                                              <tr>
                                                <td style="width: 31%">Znajomość Excela - w tym VBA</td>
                                                <td>Wyjątkowo wysoki <b>(9.5 / 10.0)</b></td>
                                              </tr>
                                              <tr>
                                                <td>Znajomość PowerPoint</td>
                                                <td>Bardzo dobry - w tym obsługa oprogramowania ThinkCell <b>(9.5 / 10.0)</b> </td>
                                              </tr>
                                              <tr>
                                                <td>Znajomość Word</td>
                                                <td>Bardzo dobry <b>(8.5 / 10.0)</b></td>
                                              </tr>
                                              <tr>
                                                <td>Znajomość programowania</td>
                                                <td>Średnio-zaawansowany - w tym znajomość programowanie obiektowe <b>(6.5 / 10.0)</b></td>
                                              </tr>
                                              <tr>
                                                <td>Rozumienie tekstu pisanego</td>
                                                <td>Bardzo dobry <b>(9.3 / 10.0)</b> - w tym rozumienie tekstów w języku angielskim</td>
                                              </tr>
                                              <tr>
                                                <td>Zdolności logiczne i matematyczne</td>
                                                <td>Wyjątkowo wysokie <b>(9.8 / 10.0)</b> </td>
                                              </tr>
                                              <tr>
                                                <td>Zdolności adaptacji</td>
                                                <td>Bardzo dobry <b>(9.5 / 10.0)</b></td>
                                              </tr>
                                              <tr>
                                                <td>Język angielski</td>
                                                <td>Wyjątkowo wysoki - certyfikat CPE (Certificate of Proficiency in English) <b>(9.5 / 10.0)</b> </td>
                                              </tr>
                                              <tr>
                                                <td>Język niemiecki</td>
                                                <td>Bardzo dobry - certyfikat ZMP (Zentrale Mittelstufepruefung) <b>(9.5 / 10.0)</b> </td>
                                              </tr>
                                              <tr>
                                                <td>Język francuski</td>
                                                <td>Średnio-zaawansowany <b>(6.5 / 10.0)</b></td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>


                                <br><br><p>Wszystkie dane odnośnie przedstawionej osoby zawarte są w kartach "Rozmowa", "Tesy", "Referencje", "CV" - prosimy o zapoznanie się z tymi informacjami.</p>
                                <p>Dodatkowe, ogólne dane podsumowaliśmy w sekcji "<a href="contact">Kontakt</a>".</p>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--tab content end-->
