<div role="tabpanel" class="tab-pane" id="results">
    <div class="row">
        <div class="am-content">
            <div class="main-content">
                <!--Select & Option Elements-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-body">
                            <div class="container">
                                <div class="row">

                                    <h3>Referencje & polecenia</h3>
                                    <p>Spawdziliśmy kandydata w innych firmach</p>

                                    <br><p>Wciśnij "Play" aby usłyszeć nagranie rozmowy a także przeczytaj transkrypcję poniżej:</p><br>
                                    <audio controls>
                                      <source src="static/images/docs/mp3/000002.ogg" type="audio/ogg">
                                      <source src="static/images/docs/mp3/000002.mp3" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                    </audio>

                                    <br><br>
                                    <p>Treść transkrypcji:</p>
                                    <p><b>[HRowo.pl] Według naszych informacji pracował Pan z Romanem Lisieckim ok. 14 miesięcy - proszę nam powiedzieć jakim pracownikiem był Roman?</b></p>
                                    <p>[Imię i Nazwisko, Dyrektor w firmie XYZ S.A.] Romek był jednym z naszych najlepszych pracowników, zawsze mogłem mu powierzyć bardzo trudne zadania, które trzeba było zrobić pod presją czasu, a on wykonywał je bardzo dobrze.</p>
                                    <p><b>Czy mógłby Pan podać jakiś przykład takiego zadania?</b></p>
                                    <p>Najbardziej pamiętam sytuację, kiedy siedzieliśmy nad jednym modelem do późna w nocy, a on cały czas zadawał sobie pytania czy model ma jakieś słabe punkty, które można byłoby poprawić - większość innych osób z pewnością dałaby sobie z tym spokój, tylko po to, żeby jak najszybciej wyjść do domu.</p>
                                    <p><b>Jak wyglądają jego kontakty z klientem?</b></p>
                                    <p>Romek jest bardzo profesjonalny w przypadku kontaktu z klientem - zawsze stara się wytłumaczyć wszystko po kolei - stosuje proste przykłady dla zobrazowania jego myśli.</p>
                                    <p><b>Jakie są jego słabe strony?</b></p>
                                    <p>Odnośnie słabych stron? Na pewno kwestia jego wymagań w stosunku do najmłodszych członków zespołu. Romek oczekuje bardzo profesjonalnego materiału od tych ludzi, natomiast oni po prostu mogą nie wiedzieć niektórych rzeczy. Ale koniec końców Romek jest wyrozumiały i potrafi wspomóc analityków.</p>
                                    <p><b>Jaką ocenę w skali od 0 do 10 dałbym Pan Romanowi?</b></p>
                                    <p>Na pewno poleciłbym Romka innym osobom, moja ocena to 10/10, jestem przekonany że będzie dużym wsparciem dla każdego pracodawcy.</p>
                                    <p><b>Dobrze myślę że mam jasność, bardzo dziękuję Panu za rozmowę.</b></p>
                                    <p>Dziękuję, do widzenia.</p>
                                    <br><br><br>
                                    <p>W przypadku pytań odnośnie naszych rozmów z prośbą o referencje skontaktuj się z nami telefonicznie lub mailowo. W tym drugim przypadku
                                    prosimy o użycie <a href="hotel">formularza kontaktowego</a> podanego na stronie głównej.</p>
                                    <p>Czekamy również na Państwa pytania pod adresem kontakt@ekdis.pl. Gwarantujemy, że odpowiemy
                                    tak szybko jak to będzie możliwe, najczęściej w przeciągu jednego dnia roboczego.
                                    W każdym przypadku jesteśmy dla Ciebie dostępni od poniedziału do piątku w godzinach 08.30-17.30.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--tab content end-->
