<div role="tabpanel" class="tab-pane" id="settings">
    <div class="row">
        <div class="am-content">
            <div class="main-content">
                <!--Select & Option Elements-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-body">
                            <div class="container">
                                <div class="row">

                                    <h3>Testy & kompetencje</h3><br>
                                    <p>Dokładne zbadanie kompetencje kandydata jest kluczowym elementem rozmowy rekrutacyjnej. My podchodzimy do tego bardzo poważnie,
                                    stąd w przypadku tego kandydata przygotowaliśmy dla niego sprawdzian następujących umiejętności:

                                    <br><br><ul>

                                    <li><a href="/static/images/docs/test/jezyk_angielski.pdf" download><p>Test z języka angielskiego</p></a></li>
                                    <li><a href="/static/images/docs/test/jezyk_niemiecki.pdf" download><p>Test z języka niemieckiego</p></a></li>
                                    <li><a href="/static/images/docs/test/jezyk_francuski.pdf" download><p>Test z języka francuskiego</p></a></li>
                                    <li><a href="/static/images/docs/test/jezyk_rosyjski.pdf" download><p>Test z języka rosyjskiego</p></a></li>
                                    <li><a href="/static/images/docs/test/programowanie_i_algorytmika.pdf" download><p>Test z programowania ogólnego i algorytmiki</p></a></li>
                                    <li><a href="/static/images/docs/test/java.pdf" download><p>Test z programowania w języku Java</p></a></li>
                                    <li><a href="/static/images/docs/test/test6.pdf" download><p>Test z logicznego myślenia</p></a></li>
                                    <li><a href="/static/images/docs/test/rodzaje_inteligencji.pdf" download><p>Test w zakresie rozpoznania rodzajów inteligencji</p></a></li>
                                    </ul>

                                    <br>
                                    <p>W przypadku Państwa indywidualnych potrzeb możemy przeprowadzić dodatkowe testy, sprawdzające wiedzę
                                        lub umiejętności potencjalnego pracownika dla Państwa firmy. W takim przypadku prosimy o bezpośredni kontakt przy
                                        użyciu naszego <a href="hotel">formularza kontaktowego</a> podanego na stronie głównej..</p>
{% comment %}
                                    <p>Poniżej zamieszczamy również karty odpowiedzi kandydatów:</p>
                                    {% include "gallery.html" %}
{% endcomment %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--tab content end-->
