<div role="tabpanel" class="tab-pane" id="newWords" >
    <div class="row">
        <div class="am-content">
            <div class="main-content">
                <!--Select & Option Elements-->

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-body">
                            <div class="container">
                                <div class="row">

                                    <h3>Rozmowa z kandydatem</h3>
                                    <p>Zobacz przeprowadzoną rozmowę z naszym kandydatem</p>

{% comment %}
                                    <video width="75%" height="75%" controls>
                                      <source src="static/images/video/Rozmowa2222.mp4" type="video/mp4">
                                      <source src="static/images/video/Rozmowa2222.mp4" type="video/ogg">
                                    </video>
{% endcomment %}


                                    <iframe width="748" height="420" src="https://www.youtube.com/embed/Ab9hF6Os9NA">
                                    </iframe>



                                    <br><br>
                                    <p>Dla Twojej wygody poniżej zamieszczamy listę pytań które zadaliśmy kandydatowi w poszczególnych minutach:</p>
                                    <p>[00:20] - Co traktuje Pan jako swoje największe osiągnięcie zawodowe</p>
                                    <p>[01:14] - Które Pana osiągnięcia przydają się Panu najbardziej w trakcie codziennej pracy zawodowej?</p>
                                    <p>[02:25] - Jaki był Pana najbardziej wymagający projekt</p>
                                    <p>[03:52] - Gdzie widzi się Pan za kolejne 5 lub 10 lat w ramach pracy zawodowej?</p>
                                    <p>[05:12] - Jakie ustawy regulują kwestię wejścia spółki na giełdę?</p>
                                    <p>[05:58] - Jakie zna Pan modele wyceny opcji?</p>
                                    <p>[06:32] - W jaki sposób można wyliczyć koszt kapitału własnego</p>
                                    <p>[07:56] - Czy można używać wskaźnika P/S w wycenie spółki?</p>
                                    <p>[08:41] - Co to jest wskaźnik P/BV – jakie ma wady?</p>
                                    <p>[09:58] - Jak oszacowałby Pan liczbę kilometrów dróg w Warszawie</p>
                                    <p>[11:30] - Jaki jest kąt padania wskazówek zegara o godzinie 15:15</p>
                                    <p>[xx:xx] - Jaka to liczba gdzie jednocz 1/5 tej liczby dzieli się przez 5, 1/2 tej liczby dzieli się przez 2, a 1/3 tej liczby dzieli się przez 3</p>
                                    <p>[xx:xx] - Ile to jest 28 * 32? Proszę o głośne myślenie w trakcie udzielania odpowiedzi?</p>
                                    <p>[xx:xx] - Co to jest kapitalizacja?</p>
                                    <p>[xx:xx] - Czy jest Pan gotowy aby się przeprowadzić w celu zmiany pracy?</p>
                                    <p>[xx:xx] - Proszę opowiedzieć o sytuacjach konfliktowych w Pana miejscu pracy.</p>
                                    <p>[xx:xx] - Jeśli dowiedziałby się Pan, że Pana firma działa niezgodnie z prawem, to co by Pan zrobił?</p>
                                    <p>[xx:xx] - Jakie zadania były dla Pana za trudne? Jak sobie Pan z nimi poradził?</p>
                                    <p>[xx:xx] - Z jakimi ludźmi pracuje się Panu najlepiej i dlaczego?</p>
                                    <br><br>
                                    <p>W przypadku pytań odnośnie przeprowadzonej rozmowy skontaktuj się z nami telefonicznie lub mailowo. W tym drugim przypadku
                                    prosimy o użycie <a href="hotel">formularza kontaktowego</a> podanego na stronie głównej.</p>
                                    <p>Czekamy również na Twoje pytania pod adresem kontakt@hrowo.pl.</p>
                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--tab content end-->
