<div role="tabpanel" class="tab-pane" id="shortcuts" >
    <div class="row">
        <div class="am-content">
            <div class="main-content">
                <!--Select & Option Elements-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-body">
                            <div class="container">
                                <div class="row">

                                    <h3>Dokumenty do sprawdzenia</h3><br>
                                    <p>Prosimy o zapoznanie się z niniejszymi dokumentami. Mogą one pomóc w odpowiedzi na niektóre
                                    z Twoich pytań. W przypadku konieczności dostarczenia przez kandydata jakiegokolwiek innego
                                        dokumentu - prosimy o kontakt.</p>
                                    <br><br>

                                    <a href="/static/images/docs/cv/cv1.pdf" download><p>Curriculum vitae</p></a>
                                    <a href="/static/images/docs/cv/cv1.pdf" download><p>List motywacyjny - ogólny</p></a>
                                    <a href="/static/images/docs/diplomas/uczelnie.pdf" download><p>Dyplomy ukończenia szkół wyższych - dyplomy</p></a>
                                    <a href="/static/images/docs/diplomas/uczelnie_suplementy.pdf" download><p>Dyplomy ukończenia szkół wyższych - suplementy do dyplomów</p></a>
                                    <a href="/static/images/docs/diplomas/jezykowe.pdf" download><p>Certyfikaty (w tym językowe), zaświadczenia</p></a>
                                    <a href="/static/images/docs/diplomas/prince.pdf" download><p>Inne ważne dokumenty wskazane przed kandydata</p></a>

                                    <br><br>
                                    <p>Jeżeli podczas analizy niniejszych dokumentów będziesz miał jakiekolwiek pytania - poinformuj nas o tym. Będziemy chcieli zdobyć tą informację dla Ciebie.</p>
                                    <p>Wszystkie nasze dane znajdziesz w zakładce <a href="contact">"Kontakt"</a>.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--tab content end-->
