{% extends 'index-contact.html' %}

{% block heading %}
    <div role="tabpanel" class="tab-pane active" id="login">
        <div class="row">
            <div class="am-content">
                <div class="main-content">
                        <!--Select & Option Elements-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-body">
                                <div class="container">
                                    <div class="row">

                                        <div class="contact-home-text">
                                            <br><br><br><br>
                                            <h3>Wystrój wnętrz & design</h3>
                                            <p>Poznaj wystrój miejsca pobytu Twojego dziecka</p><br>
                                            {% include "images_slider.html" %}
                                            <br><br>
                                            <p>Wystrój wnętrz to bardzo ważny element całego procesu, dlatego, że dzieci otaczając
                                            się pięknymi rzeczami rozwijają się lepiej. Otoczenie sprzyjające dziecku może przyspieszyć
                                            jego rozwój i spowodować znacznie większą chęć do nauki czy zabawy. Stąd dużą wagę przykładamy do tego elementu.
                                            Nasze obiekty są ciepłe i kolorowe, z różnymi motywami przewodnimi w ramach każdej z dostępnych sal.</p>
                                            <br><br>
                                        {% include "table.html" %}
                                        </div>
                                        <br><br>

                                        <div class="contact-home-text">
                                        {% include "table_more.html" %}
                                        </div>
                                        <br><br>

                                        <div class="contact-home-text">
                                        {% include "table_most.html" %}
                                        </div>
                                        <br><br>

                                        Niniejszy zakres jest zakresem wyjściowym do dyskusji z rodzicami podczas pierwszego spotkania.
                                        Zajęcia będą prowadzone przez wybranych przez Państwa pedagogów. Z naszej strony mogą
                                        Państwo oczekiwać przedstawienia listy takich osób z ich doświadczeniem i umięjętnościami.
                                        W przypadku chęci wprowadzenia jakichkolwiek zmian, nasz opiekun od razu podejmie
                                        działania w celu uwzględnienia Państwa decyzji.

                                        <br><br><hr><br>
                                        {% include "similar_cars.html" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--tab content end-->

{% endblock %}

