<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <ul class="list-inline text-center tabs-navigation" role="tablist">
            <li role="presentation" class="active">
                <a href="#login" aria-controls="login" role="tab" data-toggle="tab"><span><i class="icon-cloud"></i></span>{{ 1_choice }}</a>
            </li>
            <li role="presentation">
                <a href="#repetitions" aria-controls="repetitions" role="tab" data-toggle="tab"><span><i class="icon-printer"></i></span>{{ 2_choice }}</a>
            </li>
            <li role="presentation">
                <a href="#newWords" aria-controls="newWords" role="tab" data-toggle="tab"><span><i class="icon-anchor"></i></span>{{ 3_choice }}</a>
            </li>
            <li role="presentation">
                <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><span><i class="icon-beaker"></i></span>{{ 4_choice }}</a>
            </li>
            <li role="presentation">
                <a href="#results" aria-controls="results" role="tab" data-toggle="tab"><span><i class="icon-global"></i></span>{{ 5_choice }}</a>
            </li>
            <li role="presentation">
                <a href="#shortcuts" aria-controls="shortcuts" role="tab" data-toggle="tab"><span><i class="icon-caution"></i></span>{{ 6_choice }}</a>
            </li>
        </ul>
    </div>
</div><!--tabs header row end-->
