<h6>Intensywność standardowa, ***, propozycja dla 3-latków</h6>

<div class="container">
  <br>
    <table class="table">
    <thead>
      <tr>
        <th>ZajęciaZajęciaZajęciaZajęcia</th>
        <th>Poniedziałek</th>
        <th>Wtorek</th>
        <th>Środa</th>
        <th>Czwartek</th>
        <th>Piątek</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>DefaultZajęciaDefaultZajęcia</td>
        <td>DefaultsonZajęcia</td>
        <td>def@somemail.com</td>
        <td>def@somemail.com</td>
        <td>def@somemail.com</td>
        <td>def@somemail.com</td>
      </tr>
      <tr>
        <td>SuccessZajęciaSuccessZajęcia</td>
        <td>DoeZajęciaZajęcia</td>
        <td>john@example.com</td>
        <td>john@example.com</td>
        <td>john@example.com</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>DangerZajęciaDangerZajęcia</td>
        <td>MoeZajęcia</td>
        <td>mary@example.com</td>
        <td>mary@example.com</td>
        <td>mary@example.com</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>InfoZajęciaInfoZajęcia</td>
        <td>DooleyZajęcia</td>
        <td>july@example.com</td>
        <td>july@example.com</td>
        <td>july@example.com</td>
        <td>july@example.com</td>
      </tr>
      <tr>
        <td>WarningZajęciaWarningZajęcia</td>
        <td>RefsZajęcia</td>
        <td>bo@example.com</td>
        <td>bo@example.com</td>
        <td>bo@example.com</td>
        <td>bo@example.com</td>
      </tr>
      <tr>
        <td>ActiveZajęciaActiveZajęcia</td>
        <td>ActivesonZajęcia</td>
        <td>act@example.com</td>
        <td>act@example.com</td>
        <td>act@example.com</td>
        <td>act@example.com</td>
      </tr>
    </tbody>
  </table>
</div>

<!--      <tr class="success">
      <tr class="danger">
      <tr class="info">
      <tr class="warning">
      <tr class="active">
      !-->
