<h6>Koszty średnie przy średniej intensywności zajęć i dla standardowej lokalizacji</h6>

<div class="container">
  <br>
    <table class="table">
    <thead>
      <tr>
        <th>Godziny otwarcia / Liczba dzieci</th>
        <th>do 15 dzieci</th>
        <th>do 20 dzieci</th>
        <th>do 25 dzieci</th>
        <th>do 40 dzieci</th>
        <th>do 50 dzieci</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>od 06.30 do 13.30</td>
        <td>600 zł / m-c</td>
        <td>600 zł / m-c</td>
        <td>600 zł / m-c</td>
        <td>600 zł / m-c</td>
        <td>600 zł / m-c</td>
      </tr>
      <tr>
        <td>od 06.30 do 15.30</td>
        <td>600 zł / m-c</td>
        <td>600 zł / m-c</td>
        <td>600 zł / m-c</td>
        <td>600 zł / m-c</td>
        <td>600 zł / m-c</td>
      </tr>
      <tr>
        <td>od 06.30 do 16.30</td>
        <td>600 zł / m-c</td>
        <td>600 zł / m-c</td>
        <td>600 zł / m-c</td>
        <td>600 zł / m-c</td>
        <td>600 zł / m-c</td>
      </tr>
      <tr>
        <td>od 06.30 do 17.30</td>
        <td>600 zł / m-c</td>
        <td>600 zł / m-c</td>
        <td>600 zł / m-c</td>
        <td>600 zł / m-c</td>
        <td>600 zł / m-c</td>
      </tr>
      <tr>
        <td>od 06.30 do 18.30</td>
        <td>600 zł / m-c</td>
        <td>600 zł / m-c</td>
        <td>600 zł / m-c</td>
        <td>600 zł / m-c</td>
        <td>600 zł / m-c</td>
      </tr>
      <tr>
        <td>od 06.30 do 19.30</td>
        <td>do uzgodnienia</td>
        <td>do uzgodnienia</td>
        <td>do uzgodnienia</td>
        <td>do uzgodnienia</td>
        <td>do uzgodnienia</td>
      </tr>
    </tbody>
  </table>
</div>

<!--      <tr class="success">
      <tr class="danger">
      <tr class="info">
      <tr class="warning">
      <tr class="active">
      !-->
