<div class="container">
  <br>
    <table class="table">
    <thead>
      <tr>
        <th>Parametr / Miasto</th>
        <th>Warszawa</th>
        <th>Gdańsk</th>
        <th>Kraków</th>
        <th>Wrocław</th>
        <th>Poznań</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Lokalizacja</td>
        <td>0.80x - 1.70x</td>
        <td>0.80x - 1.65x</td>
        <td>0.80x - 1.65x</td>
        <td>0.80x - 1.60x</td>
        <td>0.80x - 1.55x</td>
      </tr>
      <tr>
        <td>Intensywność zajęć dodatkowych</td>
        <td>0.85x - 1.15x</td>
        <td>0.90x - 1.10x</td>
        <td>0.90x - 1.10x</td>
        <td>0.95x - 1.05x</td>
        <td>0.95x - 1.05x</td>
      </tr>
      <tr>
        <td>Wystrój & design</td>
        <td>0.90x - 1.45x</td>
        <td>0.95x - 1.25x</td>
        <td>0.85x - 1.30x</td>
        <td>0.90x - 1.25x</td>
        <td>0.95x - 1.35x</td>
      </tr>
      <tr>
        <td>Wyżywienie</td>
        <td>0.80x - 1.45x</td>
        <td>0.75x - 1.25x</td>
        <td>0.70x - 1.30x</td>
        <td>0.75x - 1.25x</td>
        <td>0.80x - 1.20x</td>
      </tr>
      <tr>
        <td>Inne czynniki</td>
        <td>0.60x - 1.70x</td>
        <td>0.70x - 1.50x</td>
        <td>0.70x - 1.50x</td>
        <td>0.70x - 1.50x</td>
        <td>0.70x - 1.50x</td>
      </tr>
    </tbody>
  </table>
</div>

<!--      <tr class="success">
      <tr class="danger">
      <tr class="info">
      <tr class="warning">
      <tr class="active">
      !-->
