{% extends 'index-contact.html' %}

{% block heading %}
    <div role="tabpanel" class="tab-pane active" id="login">
        <div class="row">
            <div class="am-content">
                <div class="main-content">
                        <!--Select & Option Elements-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-body">
                                <div class="container">
                                    <div class="row">

                                        <div class="contact-home-text">
                                            <br><br><br><br>
                                            <h3>Aktywności & zajęcia dodatkowe</h3>
                                            <p>Zadbaj o poprawny rozwój Twoich dzieci</p><br>
                                            {% include "images_slider.html" %}
                                            <br><br>
                                            <p>coś doipsaćże djfkaldjflas djfls ajflks ajfl sjalf jaslf jsalkdf jalsk jflsak jfl
                                            jldsjf lsajflsajdflsajflks jdflkaj slf jsalfd jslafj lskjf lasjdlasjf lkas jflks
                                            lsdkfj alsjfladsjf lsajf lksajfl ksj ldfk jaslkf jdslak jflsk jflksd jdlsa jflsa jflas jf
                                            jsdlfj aslfdj lasj flsj flkd sjlfks jalfdsfasfasdhfshfsakfjsalfjslfjl;s ajflsjfsl; jfsdfajjdslkfjsalkfjlskjflksafjlskjdflsakj fls;jf ;lskjf;lks jf;lks ajf;kls jf; lsjkf; lsakdf
                                            lsdkfj alsjfladsjf lsajf lksajfl ksj ldfk jaslkf jdslak jflsk jflksd jdlsa jflsa jflas jf
                                            lsdkfj alsjfladsjf lsajf lksajfl ksj ldfk jaslkf jdslak j</p>
                                            <br><br>
                                        {% include "table.html" %}
                                        </div>
                                        <br><br>

                                        <div class="contact-home-text">
                                        {% include "table_more.html" %}
                                        </div>
                                        <br><br>

                                        <div class="contact-home-text">
                                        {% include "table_most.html" %}
                                        </div>
                                        <br><br>

                                        Niniejszy zakres jest zakresem wyjściowym do dyskusji z rodzicami podczas pierwszego spotkania.
                                        Zajęcia będą prowadzone przez wybranych przez Państwa pedagogów. Z naszej strony mogą
                                        Państwo oczekiwać przedstawienia listy takich osób z ich doświadczeniem i umięjętnościami.
                                        W przypadku chęci wprowadzenia jakichkolwiek zmian, nasz opiekun od razu podejmie
                                        działania w celu uwzględnienia Państwa decyzji.

                                        <br><br><hr><br>
                                        {% include "similar_cars.html" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--tab content end-->

{% endblock %}

