<div class="col-sm-4">
    <div class="price-box text-center animated fadeInUp">
        <img src="static/images/personal00000{{ i }}{{ i }}.jpg" class="img-responsive" alt="Cinque Terre">
        <br>
        <h3 id="hotel_name">Imię i Nazwisko</h3>
        <h4>Obecne stanowisko, nazwa firmy</h4>
        <h5>X lat doświadczenia, XX zrealizowanych projektów</h5>
        <h6>Oczekiwania finansowe: XX 000 PLN / m-c</h6>
        <a href="contact" class="btn btn-lg btn-default btn-radius">Zapytaj o ofertę</a>
        <br><br>
    </div><!--price box end-->
</div><!--price col end-->
